body{
margin:0;
font-family:Arial;
background:#0c0c0c;
color:white;
}

/* HEADER */
header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#111;
position:sticky;
top:0;
}

.logo{
color:#ffb300;
font-weight:bold;
font-size:22px;
}

input{
padding:8px;
width:200px;
border:none;
border-radius:5px;
}

/* HERO */
.hero{
text-align:center;
padding:50px;
background:url("https://images.unsplash.com/photo-1601050690597-df0568f70950");
background-size:cover;
background-position:center;
}

.hero h1{
background:rgba(0,0,0,0.6);
display:inline-block;
padding:10px 20px;
color:#ffb300;
}

/* FILTER */
.filters{
text-align:center;
margin:20px;
}

.filters button{
padding:8px 12px;
margin:5px;
border:none;
background:#222;
color:white;
cursor:pointer;
}

.filters button:hover{
background:#ffb300;
color:black;
}

/* GRID */
.container{
padding:30px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.card{
background:#151515;
padding:10px;
border-radius:10px;
position:relative;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
box-shadow:0 0 15px #ffb300;
}

.card img{
width:100%;
height:200px;
object-fit:cover;
border-radius:10px;
}

.card h3{
color:#ffb300;
}

.card button{
width:100%;
padding:8px;
background:#ffb300;
border:none;
cursor:pointer;
font-weight:bold;
}

/* BADGE */
.badge{
position:absolute;
top:10px;
left:10px;
background:red;
padding:3px 8px;
font-size:12px;
}

/* STARS */
.stars{
color:gold;
}

/* CART */
.cart{
position:fixed;
right:0;
top:0;
width:280px;
height:100%;
background:#111;
padding:15px;
overflow:auto;
border-left:2px solid #ffb300;
}

/* BILL */
.bill{
position:fixed;
bottom:20px;
left:20px;
background:#111;
padding:15px;
border:2px solid #ffb300;
display:none;
width:250px;
}

.bill-btn{
position:fixed;
bottom:20px;
right:20px;
background:#ffb300;
padding:10px;
border:none;
cursor:pointer;
}